.topRow,
.bottomRow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section {
    margin-top: 12rem;
}

.topRow svg,
.bottomRow svg {
    color: white;

}

.topRow button,
.bottomRow button,
.hireMe button {
    background-color: #1E1E1E;
    padding: .8rem 12rem;
    border: none;
    margin-bottom: 12rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.hireMe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hireMe button {
    display: flex;
    color: white;
    align-items: center;
    gap: 4rem;
    font-size: 2.6rem;
    font-family: 'Solway', serif;
}

/* .layer {

    position: absolute;
    height: 100%;
    width: 100%;
    bottom: calc(100% - .2px);
    left: 0;
    z-index: 1;
    transition: 0.5s;
    color: red;
    display: flex;
    align-items: top;
    font-size: 2rem;
    text-align: center;
    font-family: 'Snippet', sans-serif;
    font-weight: 600;

}

.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper:hover .layer {
    bottom: 0%;
} */
/* a:hover{
    position: relative;
    padding: 30px 60px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font: 700 30px consolas;
    overflow: hidden;
} */

a:hover span:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #171618, #ffffff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

a:hover span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, #171618, #ffffff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

a:hover span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #171618, #ffffff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

a:hover span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, #171618, #ffffff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}


@media (max-width: 31em) {

    .topRow,
    .bottomRow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hireMe {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hireMe button {
        display: flex;
        color: white;
        align-items: center;
        white-space: nowrap;
        font-size: 1.8rem;
        font-family: 'Solway', serif;
    }

    .hireMe button {
        background-color: #1E1E1E;
        padding: .8rem 6rem;
        border: none;
        margin-bottom: 12rem;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
    }

}